#gallery {
    display: flex;
    list-style: none;
    padding: 40px;
    border: 1px , gray;
    width: 1600px;
    height: auto;

}

.gallery__item {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.galleryimage {
    display: block;
    width: 100%;
    height: auto;
}


#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}




.input {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
}